<h1>Add new recipe</h1>

<%= form_tag :action => 'create' do %>
<p><label for = "recipe_name">Name your recipe</label>:

<%= text_field 'recipes', 'name' %></p>
<p><label for = "recipe_instructions">Provide instructions</label>:

<%= text_field 'recipes', 'instructions' %></p>
<p><label for = "book_subject_id">Subject</label>:

<!-- <%= collection_select(:books, :subject_id, @subjects, :id, :name, prompt: true) %></p>
<p><label for = "book_description">Description</label><br/>

<%= text_area 'books', 'description' %></p> -->
<%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'list'} %>